<a href="/users/logout">Deconnexion</a>
<pre>
{{#each accounts}}
<form action="/accounts/removeOne" method="post">
link : {{link}}
senderId : {{senderId}}
<input type="submit" value="delete">
<input type="hidden" name="senderId" value="{{senderId}}">
</form>
{{/each}}
</pre>
{{#if error_msg}}
{{error_msg}}
{{/if}}
<form action="/accounts/addAccount" method="POST">
<input type="text" name="link" placeholder="link">
<input type="text" name="senderId" placeholder="senderID">
<button type="submit">Submit</button>
</form>