<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Inscription | SmartMinds</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/particle.css">
    <!--===============================================================================================-->
</head>

<body>
    <div id="particles-js">
    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <span class="p-l-50">
                        <img src="/images/logo%2002x.png" alt="Logo">
                    </span>
                </div>

                <form class="login100-form validate-form" method="post" action="/users/register">
                    <span class="login100-form-title">
                        Besoin d'un compte?
                    </span>
                    <span class="login100-form-title2">Inscrivez-vous</span>
                    {{#if errors}} {{#each errors}}
                    <div class="alert alert-danger">{{msg}}</div>
                    {{/each}} {{/if}}
                    {{#if error_msg}}
					<div class="alert alert-danger">{{error_msg}}</div>
					{{/if}}
                    <div class="wrap-input100 validate-input" data-validate="Entrer votre nom complet">
                        <input class="input100" type="text" name="name" placeholder="">
                        <span class="focus-input100" data-placeholder="Nom"></span>
                        <span class="symbol-input100">
                            <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Entrer une adresse email valide: exemple@email.xyz">
                        <input class="input100" type="text" name="email" placeholder="">
                        <span class="focus-input100" data-placeholder="Email"></span>
                        <span class="symbol-input100">
                            <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Entrer le mot de passe">
                        <input class="input100" type="password" name="password" placeholder="">
                        <span class="focus-input100" data-placeholder="Mot de passe	"></span>
                        <span class="symbol-input100">
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Confirmer le mot de passe">
                        <input class="input100" type="password" name="password2" placeholder="">
                        <span class="focus-input100" data-placeholder="Confirmation mot de passe"></span>
                        <span class="symbol-input100">
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Creer un compte
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="/vendor/particle/particles.js"></script>
    <script src="/vendor/particle/app.js"></script>


    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
</body>

</html>